PistolShrimpAndGoby/Intermediate/CachedAssetRegistry_0.bin
PistolShrimpAndGoby/Saved/AutoScreenshot.png
PistolShrimpAndGoby/Saved/Config/CrashReportClient/UECC-Windows-0199023545C331622EB9FF9A44AD7C23/CrashReportClient.ini
PistolShrimpAndGoby/Saved/Config/CrashReportClient/UECC-Windows-3CC0EAE34B2784B86A374D8C7D89E9FD/CrashReportClient.ini
PistolShrimpAndGoby/Saved/Config/CrashReportClient/UECC-Windows-76A2CEE549B90DFFF8133784CEFEAA35/CrashReportClient.ini
PistolShrimpAndGoby/Saved/Config/CrashReportClient/UECC-Windows-BE712603404DCC24C33D00A7FC5B5C3A/CrashReportClient.ini
PistolShrimpAndGoby/Saved/Config/CrashReportClient/UECC-Windows-CB8B54E24046100B8C51D6A982FB5447/CrashReportClient.ini
PistolShrimpAndGoby/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
PistolShrimpAndGoby/Saved/Logs/PistolShrimpAndGoby-backup-2025.02.08-18.19.15.log
PistolShrimpAndGoby/Saved/Logs/PistolShrimpAndGoby-backup-2025.02.15-18.34.57.log
PistolShrimpAndGoby/Saved/Logs/PistolShrimpAndGoby-backup-2025.02.19-23.13.39.log
PistolShrimpAndGoby/Saved/Logs/PistolShrimpAndGoby.log
PistolShrimpAndGoby/Saved/Telemetry/Telemetry.json
